.dashboard {
  margin: 4rem  0 0 0;
  background: #251b37;
}
.about-me{
  height: 40rem;
}
.about-me-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.about-me-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}
.heading{
  color: #ffecef;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.about-me-main-content h1 {
  color: #ffcaca;
}
.about-me-main-content h3 {
  color: #ffecef;
}
.about-me-image {
  padding: 1rem;
}
.about-me-image img {
  height: 65vh;
}
.about-me-buttons {
  display: flex;
  padding: 1rem 0;
}
.text-button{
  font-size: 1rem;
  color: #251b37;
  font-weight: bold;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0.5rem 0;
}
.default-button {
  background: transparent;
  border: 1px solid #ffcaca;
  color: #ffcaca;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.primary-button {
  background-color: #ffcaca;
  color: #251b37;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  transition: all 0.3s ease-in;
}
.projects{
  padding: 2rem;
}
.default-button:hover {
  background: hsla(267, 27%, 22%, 1);

  background: linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#372948", endColorstr="#FFCACA", GradientType=1 );
  color: #251b37;
}
.primary-button:hover {
  color: #251b37;
  background: hsla(267, 27%, 22%, 1);
  background: linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(267, 27%, 22%, 1) 0%,
    hsla(0, 100%, 90%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#372948", endColorstr="#FFCACA", GradientType=1 );
}
.cards {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 0 12%;
align-content: center;
}
.card__subtitle{
  font-size: 0.8rem;
  margin: 0;
}
.card__img {
visibility: hidden;
background-repeat: no-repeat;
height: 10rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;

}
.card__img img{
height: 18rem;
}

.card__info-hover {
  position: absolute;
  padding: 1rem;
width: 100%;
opacity: 0;
top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 10rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
top: 0;

}
.card__img--hover img{
height: 10rem;
width: 100%;
}
.card {
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #ffecef;
margin:1rem 1rem;
position: relative;
width: 14rem;
border-radius: 1rem;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
background-color: #ffecef;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.card__title {
margin: 0.5rem 0;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
display: flex;
justify-content: flex-end;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #251b37;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.section-title{
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 30px;
  margin-top: -9px;
}
.section-title h2{
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #ffcaca;
  
}
.section-title .back-text{
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color:#ffecef ;
  opacity: 0.3;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
}
.skills{
  background: #ffcaca;
  margin-top: 5rem;
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px inset;
}
.section-title-pink{
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  /* margin-bottom: 30px; */
  margin-top: -9px;
}
.section-title-pink h2{
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #251b37;
  
}
.section-title-pink .back-text-pink{
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color:#372948 ;
  opacity: 0.3;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
}
.design{
  display: inline-block;

}
.single-portfolio-box{
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}
.single-portfolio-box img{
  transition: .9s;
}
.single-portfolio-box .portfolio-content{
  position: absolute;
  left :0;
  bottom: 20px;
  padding: 25px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
.single-portfolio-box .portfolio-content h3{
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}
.single-portfolio-box .portfolio-content span{
  display: block;
  color: white;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 700;
}
.single-portfolio-box img:hover .portfolio-content{ 
visibility: visible;
}

.container-skills {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container-skills .card-skills {
	position: relative;
	width: 15rem;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
  background: #ffecef;
}

.container-skills .card-skills .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container-skills .card-skills:hover .content {
	transform: translateY(-20px);
}

.container-skills .card-skills .content .imgBx {
	position: relative;
	width: 165px;
	height: 150px;
	overflow: hidden;
}

.container-skills .card-skills .content .imgBx img {
	position: absolute;
  border-radius: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-skills .card-skills .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container-skills .card-skills .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container-skills .card-skills .sci {
	position: absolute;
	display: flex;
  top: 5rem;
  padding-left: 0;
}

.container-skills .card-skills .sci li {
	list-style: none;
	margin: 0 5px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container-skills .card-skills:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}
.container-skills .card-skills:hover .sci li .anticon {
	color: white;
  padding: 0;
  font-size: 1rem;
}

@media screen and (max-width: 550px) {
  .about-me-image{
    display: none;
  }
  .cards{
    grid-template-columns: 1fr;
  }
  .section-title-pink .back-text-pink{
    font-size: 60px;
    top:-27px
  }
  .section-title .back-text{
    font-size: 60px;
    top:-27px
  }
}